################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/合并sql/合并sql/obj/x86
/合并sql/合并sql/bin/Debug
/合并sql/合并sql/bin/Release
